body {
    background: black;
    background-image: url('../images/American_football_17-512.png');
    min-height: 600px;
}

#banner {
    font-family: 'oldnewspapertypesregular',Geneva, Verdana, sans-serif; 
    color: white; 
    text-align: center; 
    font-size: 100px;
}


#description {
    font-family: 'oldnewspapertypesregular',Geneva, Verdana, sans-serif; 
    color: white; 
    text-align: center; 
    font-size: 32px
}

#left-column {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background: black; 
    margin: 0 auto; 
    min-height: 65vh; 
    position: absolute; 
    top: 25%; 
    left: 25%;    
    min-width: 20vw; 
    border: 5px dotted yellow; 
    color: white; 
    text-align: center;
    display: inline-block;
}

#word {
    font-family: 'oldnewspapertypesregular',Geneva, Verdana, sans-serif; 
    color: white; 
    text-align: center; 
    font-size: 30px
}

#right-column {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background: black; 
    margin: 0 auto; 
    min-height: 65vh; 
    position: absolute; 
    top: 25%; 
    left: 51%; 
    min-width: 20vw; 
    border: 5px dotted yellow; 
    color: white; 
    text-align: center;
    display: inline-block;
}

.pad {
    padding: 5% 1% 5% 1%;;
}


@media screen and (max-width: 1050px) {
    #banner {
      font-size: 90px;
    }

}

@media screen and (max-width: 940px) {
    #banner {
      font-size: 80px;
    }

}

@media screen and (max-width: 840px) {
    #banner {
      font-size: 70px;
    }

}

@media screen and (max-width: 740px) {
    #banner {
      font-size: 60px;
    }
}

@media screen and (max-width: 640px) {
    #banner {
      font-size: 50px;
    }
}

@media screen and (max-width: 520px) {
    #banner {
      font-size: 40px;
    }
}
